@import "tailwindcss";

@theme {
  --color-bgcolor: #FFF5EE;
  --color-missionbg: #ECD9CB;
  --color-accent: #A58570;
  --color-finished: #3D0A06;
  --color-accenthover: #AD746D;
}

body {
  @apply w-screen flex flex-col pt-4;
  font-family: "Noto Sans TC", sans-serif;
}

h1{
    @apply w-full text-3xl text-finished text-center font-bold mb-4;
}

.field{
    @apply flex flex-col gap-1;
}

.button{
  @apply text-white bg-accent px-2 py-1 rounded-md hover:bg-accenthover;
}

.form_title{
  @apply text-lg text-finished;
}

.flash{
  @apply text-accent font-bold text-base;
}

.mission-tag{
  @apply text-lg text-white bg-finished opacity-70 p-1 rounded-2xl;
}
