
<h1><%= @mission.name %></h1>

<p><%= @mission.description %></p>

<%= button_to t("missions.show.btn"), edit_mission_path(@mission), method: :get %>
<%= button_to t("missions.delete.btn"), mission_path(@mission), method: :delete %>