
<h1><%= @mission.name %></h1>

<p><%= @mission.description %></p>

<%= button_to "Edit Mission", edit_mission_path(@mission), method: :get %>
<%= button_to "Delete Mission", mission_path(@mission), method: :delete %>